.projet-page{
    background:black;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    width:100%;
    margin:0;
    padding:0;
    height:100%;
    border:none;
    box-sizing: border-box;
}

@media screen and (max-width:768px) {
    .projet-page {
        background:black;
        width:100%;
    }
}