.info-projet-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:100%;
    padding-top:0%;
    top: 0px;
    margin:0;
    padding-bottom:5%;
    position: relative;
    border: none;
    background:black;
}

.title {
    border:none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Ysabeau SC', sans-serif;
    text-transform: uppercase;
    color:white;
    background:black;
    height:40px;
    width:100%;
    font-size: 30px;
    font-weight:900;
    position: relative;
    margin: 0px 0px;
    padding-top:60px;
    padding-bottom: 5px;
}
.title{
    animation: ani 1s;
    text-align: center;
}

@keyframes ani{
    from{
        letter-spacing: 35px;
        filter: blur(5px);
        opacity: 0;
    }to{
        letter-spacing: 0;
        filter: blur(0);
        opacity: 1px;
    }
}


.display-row {
    width:80%;
    display: flex;
    padding-top:5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.box-slider-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius:10px;
    height: 315px;
    box-shadow: 0 5px 10px 1px rgba(255, 255, 255, 0.2);
    z-index: 999999999999;
}

.container-mots-cles {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px ;
}

.info-projet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:45%;
    padding-right: 5%;
    height:100%;
    position:relative;
    background: transparent;
    border-left:1px solid white;
    border-radius:0px 10px 10px 0px;
}

.back-info-projet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:relative;
    padding-left:5%;
    padding-right: 5%;
    width:90%;
    height:100%;
}

.txt-info-projet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90%;
    height:100%;
    font-family: 'Ysabeau SC', sans-serif;
    color: #565869;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
}

.box-info {
    width:100%;
    height:300%;
}

.container-liens{
    width:80%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:flex-start;
    text-align: left;
    padding-left:10%;
    padding-right:10%;
    padding-bottom: 25px;
    margin: 0 auto;
}

.liens-list {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    margin-left: -45px ;
}

.lien {
    list-style: none;
    width:100%;
    text-align: left;
    position:relative;
    margin-top:-17px;
    margin-bottom:-17px;
}

.box-title-circleskill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:100%;
    background: transparent;
}

.titre-circle-skill-box {
    text-align:center;
    position: relative;
    margin-top: 100px;
    font-family: 'Ysabeau SC', sans-serif;
    font-size:24px;
    font-weight:600;
    color: white;
}

.container-circle-skill {
    width:70%;
    height:300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    padding-top:30px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.titre-langage {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .info-projet-box {
        overflow: hidden;
        margin-top: 30px;
        border:none;
    }

    .info-projet-box { 
        padding-left: 0%;
        padding-right: 0%;
        padding-bottom: 0%;
        width:100%;
        box-shadow: none;
        border-left:none;
        border-right:none;
    }

    .title {
        padding-top:0px;
        margin-top:30px;
    }

    .display-row {
        flex-direction: column;
        height: auto;
        width:100%;
        padding:0px;
    }
    
    .box-slider-infos {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%;
        height:100%;
        border-radius: 0px;
        margin: 0;
    }

    .info-projet {
        width:100%;
        padding:30px 0 0 0;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: none;
        border-radius:0px;
    }

    .container-mots-cles {
        width:100%;
    }

    .back-info-projet {
        position: relative;
        width:92%; 
        height:100%;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 4%;
        padding-bottom:4%;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .txt-info-projet {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width:100%;
        height:100%;
        text-align: left;
    }

    .container-liens {
        padding-top: 15px;
        padding-left:0;
        width:100%;
        overflow: hidden;
    }

    .liens-list {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width:90%;
        margin-left: -37px ;
    }
    
    .lien {
        list-style: none;
        width:100%;
        text-align: center;
        position:relative;
        margin-top:-17px;
        margin-bottom:-17px;
    }

    .box-title-circleskill {
        background: transparent;
        margin-bottom:0px;
        box-sizing: border-box;
        border-bottom:2px solid black
    }
    
    .container-circle-skill {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width:100%;
        height:700px;
        margin:0;
        padding-top:30px;
        padding-bottom:120px;
        box-shadow: none;
        background: transparent;
        border-radius:0px;
    }
    
    .titre-circle-skill-box {
        margin-top:30px;
        color: black;
        background: transparent;
        padding-top: 20px;
        width:90%;
        margin-bottom: 0;
    }
}

