.home {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    height: 100%;
    width:100%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}






.home {

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
    margin:0 auto;
    padding:0;
}

@media screen and (max-width: 768px) {
    .home {
        width:100%;
    }
}


