.home {
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
    margin:0 auto;
    padding:0;
}

.container-skillbar, .titre-bar-moyennes, .Banner, .Carousel, .TimeLine, .container-header {
    position: relative;
    z-index: 1; 
}

@media screen and (max-width: 768px) {
    .home {
        width:100%;
    }
}


