@font-face {
    font-family: 'Oranienbaum';
    src: url('../../assets/fonts/Oranienbaum.ttf') format('truetype')
}

.gallery {
    width: 100%;
    padding: 0;
    margin:0 auto;
    border-bottom: 3px double lightgrey;
}

.galleryGrid {
    width: 96%;
    margin:40px auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.title-gallery {
    text-align: left;
    margin-left: 3.5% ;
    margin-top: 50px;
    width:96.5%;
    font-family: 'Oranienbaum';
    font-size: 30px;
    font-weight: 900;
}

@media screen and (max-width: 768px) {
    .title-gallery {
        margin-left: 0;
        text-align: center;
    }
}






