.section-competences {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:black;
}

.title-competences {
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    font-family: 'Ysabeau SC', sans-serif;
    color:white;
    font-weight: 900;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 60px;
    height:40px;
    width:96.5%;
}

.title-competences {
    color: white;
    letter-spacing: 6px;
    margin-bottom: 20px;
    background: black;
    position: relative;
    animation-name: text;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes text {
    0% {
        color: black;
    }
    30% {
        letter-spacing: 16px;
    }
    85% {
        letter-spacing: 6px;
    }
    100% {
        letter-spacing: 6px;
    }
}

.container-icons {
    position: relative;
    margin-top:0px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
    align-items: center;
    width:92%;
    margin-left:auto;
    margin-right: auto;
    padding-top:10px;
    padding-bottom: 0px;
    padding-left: 4%;
    padding-right: 4%;
    min-height:100px;
}
.container-name-icon {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

i {
    width: 128px;
    font-size:48px;
    margin-bottom: 0px;
    transition: transform 0.3s ease;
}

.name-icon {
    font-family: 'Ysabeau SC', sans-serif;
    font-size:12px;
    margin-top: 0;
    color:white;
}

i:hover {
    transform: scale(1.2);
}

.fa-html5 {
    color:orange;
}

.fa-css3 {
    color:blue;
}

.fa-sass {
    color:purple;
}

.fa-js {
    color:yellow;
}

.fa-react {
    color:aqua;
}

.fa-node {
    color:rgb(29, 174, 13);
}

.fa-figma {
    color:purple;
}

.fa-slack {
    color:darkturquoise;
}

.fa-bootstrap {
    color:rgb(97, 56, 243);
}

.fa-npm {
    color:red;
}

.fa-chart-column {
    color:rgb(0, 193, 193);
}

.fa-file-word {
    color:rgb(0, 123, 255);
}

.fa-file-excel {
    color:rgb(7, 217, 7);
}

.fa-file-powerpoint {
    color:orange;
}
.fa-git, .fa-github{
    color: white;
}


@keyframes vibrate {
    0%, 100% { transform: translateX(0); }
    20% { transform: translateX(-1px); }
    40% { transform: translateX(1px); }
    60% { transform: translateX(-1px); }
    80% { transform: translateX(1px); }
}

.vibrate {
    animation: vibrate 2s ease-in-out infinite;
}

.container-icons .container-name-icon:nth-child(1) {
    animation-delay: 2s;
}

.container-icons .container-name-icon:nth-child(2) {
    animation-delay: 4s;
}

.container-icons .container-name-icon:nth-child(3) {
    animation-delay: 6s;
}

.container-icons .container-name-icon:nth-child(4) {
    animation-delay: 8s;
}

.container-icons .container-name-icon:nth-child(5) {
    animation-delay: 10s;
}

.container-icons .container-name-icon:nth-child(6) {
    animation-delay: 12s;
}

.container-icons .container-name-icon:nth-child(7) {
    animation-delay: 14s;
}

.container-icons .container-name-icon:nth-child(8) {
    animation-delay: 16s;
}

.container-icons .container-name-icon:nth-child(9) {
    animation-delay: 18s;
}

.container-icons .container-name-icon:nth-child(10) {
    animation-delay: 20s;
}

.container-icons .container-name-icon:nth-child(11) {
    animation-delay: 22s;
}

.container-icons .container-name-icon:nth-child(12) {
    animation-delay: 24s;
}

.container-icons .container-name-icon:nth-child(13) {
    animation-delay: 26s;
}

@media screen and (max-width:768px) {
    .container-icons {
        flex-direction: row;
        width:86%;
        padding-left:7%;
        padding-right:7%;
        text-align: center;
        justify-content: space-around;
    }
    i {
        font-size:24px;
    }

    .title-competences {
        margin-left: 0;
        justify-content: center;
    }
}