.link-rncp {
    text-decoration: none;
    padding-bottom:30px;
}

.emblem {
    position: relative;
    left: 0;
    right: 0;
    top: 0vh;
    margin: 0 auto;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    color: aqua;
    animation: spinZ 20s linear infinite;
    text-align: center;
}

.emblem span {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Ysabeau SC', sans-serif;
    transition: all .5s cubic-bezier(0, 0, 0, 1);
}

@keyframes spinZ {
    0% {
        transform: rotateZ(360deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

@media  screen and (max-width: 768px){
    .link-rncp {
        display: none;
        padding-bottom: 70px;
    }
}

